body{ 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

.container{
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.btn{
    display: block;
    text-align: center;
}

p.title{
    font-size: 24px;
}

.error-message{
    color: red;
    font-size: small;
}

fieldset{
    margin: 0;
    padding: 0;
    border: 0;
}

.login-page-title{
    text-align: center;
    color: #92989c;
    font-size: 22px;
}

.login-page-title .big-description{
    font-size: 90px;
}