<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/form.css">
    <title>Register App</title>
</head>
<body>
    <div class="login-page-title">
        <h1>WELCOME!</h1>
        <span class="big-description">You are finally in!</span>
    </div>
</body>
</html>